
.h2{
  font-size: 20px !important;
}
.form-control{
  width:50rem !important;
}
.main-section{
  margin: 50px;
}
.product-card{
  border: 1px solid black !important;
}
.main-head{
  margin: 25px 0px;
  border-bottom: 3.5px solid red;
  
}